 body::before {
     content: "";
     position: absolute;
     height: 610px;
     top: 0px;
     left: 0px;
     width: 100%;
     z-index: -1;
     opacity: 1;
     background: url("../static/pics/b3.jpg")no-repeat center center/cover;
 }
 
 .bckg {
     background: rgb(54, 54, 133);
     border-radius: 0%;
 }
 
 .roomtext {
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: medium;
     color: black;
 }
 
 * {
     margin: 0;
     padding: 0;
 }
 
 .navhead {
     background: rgb(253, 253, 253);
     position: sticky;
 }
 
 .navtext {
     color: rgb(54, 54, 133);
 }
 
 header {
     position: sticky;
     top: 0px;
     z-index: 1;
 }
 
 .anchor {
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-size: large;
 }
 
 .anchor:hover {
     color: rgb(54, 54, 133);
 }
 
 .logo {
     width: 50px;
     margin-top: 8px;
 }
 
 .photo1 {
     margin-top: 25px;
     background: url("../static/pics/grey.jpg")no-repeat center center/cover;
 }
 /* Css for Drop down */
 
 .dropdown {
     position: relative;
     display: inline-block;
 }
 
 .dropdown-content {
     display: none;
     position: absolute;
     min-width: 130px;
     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
     padding: 12px 16px;
     z-index: 1;
 }
 
 .dropdown:hover .dropdown-content {
     display: block;
 }
 
 .dropdowntext {
     color: black;
     text-decoration: none;
 }
 
 .dropdowntext:hover {
     color: rgb(54, 54, 133);
 }
 
 .kln {
     margin-top: 170px;
 }
 /* *,
*::before,
*::after {
    box-sizing: border-box;
} */
 
 body,
 html {
     scroll-behavior: smooth;
 }
 /*ChatBot*/
 
 .chat_icon {
     position: fixed;
     bottom: 0;
     right: 30px;
     z-index: 1000;
     padding: 0;
     font-size: 80px;
     color: #fff;
     cursor: pointer;
 }
 
 .chat_box {
     width: 400px;
     height: 80vh;
     position: fixed;
     bottom: 100px;
     right: 30px;
     background: black;
     /* z-index: 1000; */
     transition: all 0.3s ease-out;
     transform: scaleY(0);
 }
 
 .chat_box.active {
     transform: scaleY(1);
 }
 
 #messages {
     padding: 20px;
 }
 
 .my-conv-form-wrapper textarea {
     height: 30px;
     overflow: hidden;
     resize: none;
 }
 
 .hidden {
     display: none !important;
 }
 
 .tabcol {
     background: rgb(54, 54, 133);
 }
 
 .bckgi {
     background: rgb(54, 54, 133);
     padding: 2px;
     border-radius: 0%;
 }